In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("example.db")

connection

In [3]:
cursor = connection.cursor()

In [4]:
# Create a table 
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees 
               (
                id INT PRIMARY KEY, 
                name VARCHAR NOT NULL, 
                age INT, 
                department VARCHAR
               )
''')

In [5]:
# Commit the changes
connection.commit()

In [7]:
cursor.execute(
    '''SELECT * FROM employees'''
)

In [9]:
cursor.execute(''' INSERT INTO employees VALUES(1,"Krish Naik", 32, "Data Science")''')

connection.commit()

In [13]:
cursor.execute(''' INSERT INTO employees VALUES(2,"Norman Bradley", 50, "Product Manager")''')

connection.commit()

In [14]:
cursor.execute(''' INSERT INTO employees VALUES(3,"Magnus Carlsen", 29, "Technical Lead")''')

connection.commit()

In [22]:
# Query the database for information
cursor.execute(
    '''SELECT * FROM employees'''
)

# Stores the data that has been fetched
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish Naik', 32, 'Data Science')
(2, 'Norman Bradley', 50, 'Product Manager')
(3, 'Magnus Carlsen', 29, 'Technical Lead')

In [24]:
cursor.execute('''
UPDATE employees SET age = 34 WHERE name = "Krish Naik"
''')

connection.commit()

In [25]:
# Query the database for information
cursor.execute(
    '''SELECT * FROM employees'''
)

# Stores the data that has been fetched
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish Naik', 34, 'Data Science')
(2, 'Norman Bradley', 50, 'Product Manager')
(3, 'Magnus Carlsen', 29, 'Technical Lead')

In [26]:
# Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [27]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [ ]:
## close the connection
connection.close()